<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header pb-0 pr-1 pt-1 border-0">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body pt-0">
        <p class="mb-0">
          Total Candidates
        </p>
        <h4>
          {{matchingConsultants?.Count}}
        </h4>
      </div>
      <div>
        <div>
          <div class="chart">
            <canvas baseChart *ngIf="!!pieChartData.length" [data]="pieChartData" [labels]="pieChartLabels"
              [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
              [colors]="pieChartColors" [legend]="pieChartLegend" (chartClick)="onChartClick($event)">
            </canvas>
            <span class="no-chart" *ngIf="!pieChartData.length">No data</span>
          </div>
        </div>
        <div class="row">
          <div class="col-11 candidate-details">

            <table class="table table-bordered p-3 my-3">
              <thead>
                <tr>
                  <th scope="col">Candidate Name</th>
                  <th scope="col">Region</th>
                </tr>
              </thead>
              <tbody>
                <tr class="noBorder" *ngFor="let c of candidateRecordsAsPerSection">
                  <td><a target="_blank" [href]="c.ProfileURLLink">{{c.EmployeeName}}</a></td>
                  <td>{{c.Location ? c.Location : '-'}}</td>
                </tr>

              </tbody>
              <tfoot>
                <tr class="text-right" *ngIf="!candidateRecordsAsPerSection?.length"> No Record Found!</tr>
              </tfoot>
            </table>
          </div>
        </div>

      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>
