
.aa{
    padding-top: 1.5rem;
    margin-top: 5px;
    height : 100%;
}
li{
    margin-left: 2rem;
}
footer {
    /* margin-top: 9px; */
    font-size: 12px;
    font-weight: 400;
    z-index: 999;
    background: #fff;
    width: 100%;
    bottom: -1px;
    position: fixed;
}
.pull-right {
    float: right!important;
}
.pull-left {
    float: left!important;
}
footer span {
padding: 5px;
}
footer .footer_color_bar {
background: linear-gradient(to right,rgba(158,33,108,1) 0,rgba(116,24,119,1) 100%);
height: 27px;
color: #fff;

}
.ab{
    position: fixed;
    width: 30%;
    max-height: 70%;
    overflow-y: auto;
}
a{
    color: black;
    text-decoration: none;
    background-color: transparent
}
h3 {
    padding-left: 3rem;
    font-size: 1.75rem;
    color: #595a5a;
    font-weight: bold;
    margin-top: 10px
}
.accordian{
    background-color: #ffffff;
}
.heading{
    margin-left: 3rem;
    margin-top: 2rem;
}
.img{
    width: 700px;
    height: 350px;
    margin-top: 1rem;
}
