<div class="col-sm-12 aa" style="background: white;">
  <div class="row pt-2 pb-3 d-lg-none" id="header" style="margin-top: 47px;">
    <div class="col-8">
      <button style="background: #9E4587;border-radius: 0;" class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa fa-bars fa-2x" style="color:white" aria-hidden="true"></i>
      </button>
    </div>
  </div>
    <div id="videos" class="heading"><h3>HOW TO VIDEOS</h3>
      <div class="row" style="padding-top: 15px;">
        <div class="col-sm-6">
          <div class="col-sm-12">
            <span>Create JD</span>
          </div>
          <div class="col-sm-12">
            <video width="350" height="200" style=" max-width: 100%;" controls>
              <source src="https://360feedbackcontentprod.blob.core.windows.net/rapid-videos/Create JD Video-19th Aug Revised-3- Compressed.mp4
              " type="video/mp4">
              Your browser does not support the video tag.
            </video> 
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-12">
            <span>Search/View/Edit JD</span>
          </div>
          <div class="col-sm-12">
            <video width="350" height="200" style=" max-width: 100%;" controls>
              <source src="https://360feedbackcontentprod.blob.core.windows.net/rapid-videos/Search view edit audio and video-final.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video> 
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 15px;">
        <div class="col-sm-6">
          <div class="col-sm-12">
            <span>View External Pool</span>
          </div>
          <div class="col-sm-12">
            <video width="350" height="200" style=" max-width: 100%;" controls>
              <source src="https://360feedbackcontentprod.blob.core.windows.net/rapid-videos/External video and audio-Final-compressed.mp4
              " type="video/mp4">
              Your browser does not support the video tag.
            </video> 
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-12">
            <span>View Internal Pool</span>
          </div>
          <div class="col-sm-12">
            <video width="350" height="200" style=" max-width: 100%;" controls>
              <source src="https://360feedbackcontentprod.blob.core.windows.net/rapid-videos/Internal Pool-20aug-final-compressed.mp4
              " type="video/mp4">
              Your browser does not support the video tag.
            </video> 
          </div>
        </div>
      </div>
    </div>
    <div id="faq"><h3>FAQS</h3></div>
    <mat-accordion>
      <div style="margin-left: 2.5rem; margin-bottom: 1rem;">
        <mat-expansion-panel class="accordian">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h6><b>Which browser JD Supports</b></h6>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Smart supports both Google Chrome and IE-11, However for best user
            experience use Google Chrome
          </p>
        </mat-expansion-panel>
      </div>
      <div style="margin-left: 2.5rem; margin-bottom: 1rem;">
        <mat-expansion-panel class="accordian">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h6><b>What is "Make it as Private JD"</b></h6>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Select this option, if you want to have your JD as private and not
            visible to others during search
          </p>
        </mat-expansion-panel>
      </div>
      <div style="margin-left: 2.5rem; margin-bottom: 1rem;">
        <mat-expansion-panel class="accordian">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h6><b>What is Mandatory/Desired Tags</b></h6>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            To create a JD, Mandatory, Desired Tags are necessary to add skills
            that are required for that designation. By having so, mandatory and
            desired skills can be added under mandatory, desired skills section
            during JD creation.<br />
          </p>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
    <div id="login_A" class="heading">
      <h6><b>Login</b></h6>
      <div style="font-size: 15px;">
        Please navigate to the application using the URL
        <a href="https://rapid.dminc.com/"
          >https://rapid.dminc.com/</a
        >. If you are doing Login for the first time, you would be prompted to
        enter your DMI Active Directory credentials – the same that you use for
        Microsoft Outlook and post authentication, you would be directed to
        Dashboard/Main page. If you have done Login in past, the system may
        directly take you to Dashboard page.<br />
      </div>
    </div>
    <div class="heading" id="dashboard">
      <h6><b>Dashboard</b></h6>
      <div style="font-size: 15px;">
        There are several things you can do from the Dashboard: Search by
        Keyword Designation Experience Created by <br />
        <img class="img-fluid img" src="../../../../assets/images/dashboard.png" alt="" />
      </div>
    </div>
    <div id="search" class="heading">
      <h6><b>Search by Keyword</b></h6>
      <div style="font-size: 15px;">
        Basic keyword search can be achieved with this option, which will bring
        JD’s which containing the keyword given in search column.<br />
      </div>
    </div>
    <div id='designation' class="heading">
      <h6><b>Designation</b></h6>
      <div style="font-size: 15px;">
        JD’s Designation can be selected from the drop down list and view.<br />
      </div>
    </div>
    <div id="experience" class="heading">
      <h6><b>Experience</b></h6>
      <div style="font-size: 15px;">
        Experience drop down option have list of “Years of Experience”, by
        selecting one of the listed values from the drop down will display the
        JD’s with matches the selected value.<br />
      </div>
    </div>
    <div id="createdby" class="heading">
      <h6><b>Created By</b></h6>
      <div style="font-size: 15px;">
        Created By drop down option have list of “Names” who have created the
        JD’s sofar, by selecting one of the listed values from the drop down
        will display the JD’s with matches the selected value.<br />
      </div>
    </div>
    <div id="location" class="heading">
      <h6><b>Location</b></h6>
      <div style="font-size: 15px;">
        Location drop down option have list of “Location” from which JD’s are
        created, by selecting one of the listed values from the drop down will
        display the JD’s with matches the selected value.<br />
      </div>
    </div>
    <div id="newJd" class="heading">
      <h6><b>Create New JD</b></h6>
      <div style="font-size: 15px;">
        To Create New JD, click on the button “Create New JD’s” and fill the
        appropriate columns in the form to create new JD. Refer “Create New JD”
        video for more details.<br />
        <img class="img-fluid img" src="../../../../assets/images/create JD.png" alt="" />
      </div>
    </div>
    <div id="editJD" class="heading">
      <h6><b>Edit JD</b></h6>
      <div style="font-size: 15px;">
        To Edit existing JD’s content use this option and this can be achieved
        by selecting the JD from dashboard Dashboard – Select JD -> View Details
        -> Edit (at bottom of the page) Refer Edit JD video for more details<br />
        <img
          class="img-fluid img"
          src="../../../../assets/images/Edit JD.png"
          alt=""
        />
      </div>
    </div>
    <div id="Ipool" class="heading">
      <h6><b>View Internal Pool</b></h6>
      <div style="font-size: 15px;">
        Profiles can be searched in SMART an internal system which matches a JD.
        To view profiles available in SMART, click on the view details of a JD
        and at bottom of the JD, Click on "View Internal Pool" button, which
        will list profiles matches this JD criteria. Click on any of candidate
        name, to view their profile available in SMART application.<br />
        <img class="img-fluid img" src="../../../../assets/images/iPool-1.png" alt="" />
        <img class="img-fluid img" src="../../../../assets/images/iPool-2.png" alt="" />
      </div>
    </div>
    <div id="Epool" class="heading">
      <h6><b>View External Pool</b></h6>
      <div style="font-size: 15px;">
        Profiles can be searched in iCIMS an external system which matches the JD.  
To view profiles available in iCIMS, click on the view details of a JD, then at bottom of the JD, Click on "View External Pool" button, which will list the profiles that matches this JD criteria. Click on any of candidate name, to view their profile from iCIMS.<br>
        <img class="img-fluid img" src="../../../../assets/images/ePool-1.png" alt="" />
<img class="img-fluid img" src="../../../../assets/images/ePool-2.png" alt="" /> 
      </div>
    </div>
    <div id="myJD" class="heading">
      <h6><b>My JD's </b></h6>
      <div style="font-size: 15px;">
        To view list of JD’s which you created can be seen under this option.<br />
        <img class="img-fluid img" src="../../../../assets/images/myJD.png" alt="" />
      </div>
    </div>
    <div id="sharedjd" class="heading">
      <h6><b>JD Shared with me </b></h6>
      <div style="font-size: 15px;">
        You can view the JD’s which are shared to you by others.
        <img class="img-fluid img" src="../../../../assets/images/SharedJD.png" alt="" />
        <p>
          This can be done by editing the JD, then select the option “Make It As
          Private JD” as Yes then provide the Name or Email address of a person,
          you want to share (as show in below image)<br />
        </p>
        <img class="img-fluid img" src="../../../../assets/images/sharedJd1.png" alt="" />
        <img class="img-fluid img" src="../../../../assets/images/sharedJD2.png" alt="" />
      </div>
    </div>
  </div>
<!-- <footer class="row">
  <div class="footer_color_bar col-sm-12">
    <span class="pull-left">© 2020 RAPID DMI. All rights reserved. </span>
    <span class="pull-right">version-1.0.0.0</span>
    <div style="margin-top: 1rem;" class="clearfix"></div>
</div>
</footer> -->
