
.example-chip-list{
    width: 100%;
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
 .para{
     padding-top: 20px;
 }
.suggested-tags {
   label {
    margin: 0;
    padding: 0;
    margin-right: 10px;
   }
    ul {
        list-style: none;
        padding: 0;
        margin-left: 14px;
        li {
            display: inline-block;
            font-size: 12px;
            padding: 3px 15px 3px 15px;
            color: black;
            border: 1px solid #d9d9d9;
            border-radius: 20px;
            background: #ffffff;
            margin: 6px;
            cursor: pointer;
            margin-left: 14px;
            &:hover{
                background: #f0f0f0;
            }
        }
    }
}
