table {
    font-size: 0.9em;
    tr{
        font-size: 0.9rem;
        td {
            padding: .1rem;
            padding-left: 1.3rem;
            border: 0;
        }
        td:nth-child(2) {
            width: 56%;
        }
    }
}
.candidate-details{
    margin: auto;
    max-height: 33vh;
    overflow-y: scroll
}