<div class="bg-light d-none d-lg-block" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a [routerLink]="['/allJd']" (click)="selectedIndex =1;" [ngClass]="{'active': selectedIndex == 1}" href="javascript:" class="list-group-item list-group-item-action side-tabs">All JDs</a>
        <a [routerLink]="['/myJd']" (click)="selectedIndex =2;" [ngClass]="{'active': selectedIndex == 2}" href="javascript:" class="list-group-item list-group-item-action side-tabs active" style="background:#9E4587">My JDs</a>
        <a href="javascript:" class="list-group-item list-group-item-action side-tabs">FAQs/Help</a>
      </div>
    </div>


