<div class="bg-light d-none d-lg-block" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a [routerLinkActive]="['active']" [routerLink]="['/allJd']"  href="javascript:" class="list-group-item list-group-item-action side-tabs">All JDs</a>
        <a [routerLinkActive]="['active']" [routerLink]="['/myJd']"   href="javascript:" class="list-group-item list-group-item-action side-tabs active" style="background:#9E4587">My JDs</a>
        <a [routerLinkActive]="['active']" [routerLink]="['/jdsShared']"  href="javascript:"  class="list-group-item list-group-item-action side-tabs">JD's shared with me</a>
        <a href="javascript:" class="list-group-item list-group-item-action side-tabs">FAQs/Help</a>
      </div>
    </div>


