<app-loader></app-loader>
<div class="main" *ngIf="isAuthenticated">
  <div class="header" style="background: gray;">
    <layout-header></layout-header>
  </div>
  <!-- Sidebar navigation -->
      <div
    class="px-0 collapse navbar-collapse"
    id="collapsibleNavbar"
  >
  <div class="list-group list-group-flush">
    <a [routerLink]="['/allJd']" (click)="selectedIndex =1;activateClass(1)" [ngClass]="{'active': selectedIndex == 1}" href="javascript:" class="px-3 list-group-item list-group-item-action side-tabs">All JDs</a>
    <a [routerLink]="['/myJd']" (click)="selectedIndex =2;activateClass(2)" [ngClass]="{'active': selectedIndex == 2}" href="javascript:" class="px-3 list-group-item list-group-item-action side-tabs active">My JDs</a>
    <a href="javascript:" class="px-3 list-group-item list-group-item-action side-tabs">FAQs/Help</a>
  </div>
  </div>
  <div class="page-content container-fluid" [ngClass]="{'noscroll': isCollapseOn==true}">

    <div class="row">
      <div class="col-md-2 no-padding" style="background: #333333;">
        <div class="sidebar content-box" style="display: block;">
          <layout-sidebar></layout-sidebar>
        </div>
      </div>
      <div class="col-md-10 no-padding" >
        <div class="container" style="background:linear-gradient(to bottom, #f5f5f5 0%, #c7c4c4 100%);">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>
  </div>
</div>
<footer>
</footer>
<div class="overlay"  [ngClass]="{'overlay': isCollapseOn==true}" data-toggle="collapse" data-target="#collapsibleNavbar"></div>
