<div class="card shadow-card mt-3">
  <div class="card-header" style="background:#EAECEA;">
    <div class="grid">
      <!-- Desktop View -->
      <div class="d-none d-lg-block">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <p class="pull-left font-weight-bold mb-0 sub-heading"> {{name}}</p>
          </div>
        </div>
      </div>

      <!-- Mobile View -->
      <div class="row d-lg-none">
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
          <p class="pull-left font-weight-bold mb-0 sub-heading">{{name}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <p style="background-color: white;padding: 20px; font-family: verdana, geneva;
        font-size: 10pt;" [innerHtml]="resumeData">
        </p>
      </div>
    </div>
  </div>
  </div>