/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.icon-right-side{
  float: right;
  margin-right: 5px;
}
.page-header{
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Raleway, "Helvetica Neue", sans-serif; }
.pointer{
  cursor: pointer;
}
.mat-autocomplete-panel .mat-option {
  height: unset;
  padding: 8px 16px;
}
.dropdown {
  .dropdown-menu{
    z-index: 999999 !important;
  }
}

.mat-autocomplete-panel.mat-autocomplete-visible, .mat-select-panel {
  border: 1px solid #9a9a9a
}
.visibility-hidden {
  visibility: hidden !important;
  position: absolute !important; 
  left: -999em;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  position: initial !important;
}


body:after{
  display:none;
  content: url("assets/images/mdpi/H1.png") 
  url("assets/images/mdpi/H2.png") 
  url("assets/images/mdpi/H3.png") url("assets/images/mdpi/H4.png");
  } 