p, textarea,input {
  text-align: justify!important;
}
tr.noBorder td {
  border: 0;
}
.example-chip-list {
  width: 100%;
}
.gray-theme-color{
  color:#979797
}
.dark-gray-theme-color{
  color:#5A5959
}
.bg-theme-color{
  background: #333333;
}
.fixed-header{
  background: white;
  position: fixed;
  top:0;
  z-index:998;
  width: 100%;
  border-bottom: solid 1px;
}
.fixed-bottom{
  z-index: 998;
}
// .mat-form-field /deep/ .mat-form-field-wrapper  {
//   padding-bottom: 0;
// }
.side-tabs{
  background-color: #333333 !important;
  color: white;
  border-color: gray;
}
// .active{
//   background: #9E4587 !important;
// }

#header{
  background: #333333;
}
.theme-color-btn{
  background: #9E4587;
  border: none;
  color: white;
}
.theme-color-lt-btn{
  background: #D95792;
  border: none;
}
.theme-secondary-btn{
  border: 1px solid;
  color: #9E4587;
  background: white;
}
.btn{
  border-radius: inherit
}
.mat-standard-chip{
  height: inherit;
}
/deep/ .mat-select-value{
  color: #6c757d!important;
}
/deep/ .mat-option-text
{
    line-height: initial;
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
}
.mat-option.mat-active {
  background: darkgray;
}
/deep/ textarea.mat-input-element{
  height: auto;
  page-break-inside: avoid !important;
  overflow: hidden !important;
  line-height: 16px;
}
 /deep/ .mat-form-field-underline {
  height: 1px;
  top: 90%;
}
.suggestion-card{
  background: #e5e5e5;
  padding: 26px;
  color: black;
  box-shadow: 1px 1px 2px 2px #8f808080;
  p{
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify !important;
    color: #000000 !important;
    opacity: 1 !important;
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.6em;
    line-height: 1.8em;
    display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;
  };
  .carousel-indicators{
    margin-bottom: 0px !important;
  }
  .carousel-control-prev,.carousel-control-next{
    width: 10%;
  }
}
.carousel-control-next-icon{
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/></svg>");
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/></svg>");
}
.carousel-indicators li{
  background-color: #000000 !important;
}
// .ellipsis {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;
// }

// p.block {
//   height: 20%;
// }
.dropdown-menu{
  z-index: 997;
}
.dropdown-width {
  top: 0;
  right: 25%;
  left: auto;
  margin-top: 0;
  /* margin-right: .125rem; */
}
.html2canvas-container { width: 3000px !important; height: 3000px !important; }
/* Desktop View */
@media only screen and (min-width: 600px) {
  i {
    color:#9E4587
  }
  .theme-color{
    color: #D95792;
  }
}
/* Mobile view */
@media only screen and (max-width: 600px) {
  i {
    color:#CE353D;

  }
  .theme-color{
    color: #CE353D;
  }
}





//Pdf css
#content-pdf h2{
  color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none
}
#content-pdf p{
  font-size:25px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none
}


