<div *ngIf="isEditJd;" class="row mybt">
  <div class="col-12" style="text-align: right;">
    <div style="display: none;" class="col-12" id="email">
      <mat-form-field>
        <input id="emailID" type="text" (keypress)="searchEmailOnKeypress(emailSearch.value)" placeholder="Enter Name or Email"
          matInput [formControl]="emailSearch" [matAutocomplete]="auto" [(ngModel)]="value">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredEmails" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button style="font-size: 21px;" *ngIf="value" [hidden]="!isSameUser" type="button" class="btn btn-default btn-sm"
        (click)="onSend(emailSearch.value);value=''">
        <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
    <div class="col-12" style="padding-top: 7px;">
      <div id="shareButton" (click)="toggleShare(false,true)" style="pointer-events: none;">
        <button id="sharebtn" style="margin-top:5px;" [disabled]="!isPrivateChecked" [ngStyle]="{'pointer-events' : disabled ? 'none' : 'auto' }" class="btn theme-color-btn btn-sm"
          [hidden]="!isSameUser" type="button" (click)="onShare()">
          <i class="fa fa-share-square-o" style ="color: white;
          padding-right: 3px; pointer-events: none;" aria-hidden="true"></i>Share
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isDataFetched">
  <!-- EDIT MODE -->
  <div *ngIf="isEditJd" class="row bg-white pb-3">
    <div class="col-md-12 no-padding mb-5" style="font-size: 13px;">
      <div class="row pb-3 d-lg-none" [ngStyle]="{'margin-top': isSameUser ? '5px' :'40px'}" id="header">
        <div class="col-8">
          <button style="background: #9E4587;border-radius: 0;" class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#collapsibleNavbar">
            <i class="fa fa-bars fa-2x" style="color:white" aria-hidden="true"></i>
          </button>
          <span style="color:white;position: absolute;top: 20px;" class="pt-2 pl-2">Edit JDs</span>
        </div>
        <div class="col-4 pt-2">
          <div class="dropdown dropleft float-right">
            <button (click)="isEditJd = false; onCancel()" type="button" class="btn theme-color-btn">
              Cancel
            </button>
          </div>
        </div>
      </div>
      <div class="card shadow-card mt-2">
        <div class="card-header" style="background:#EAECEA;">
          <div class="grid">
            <!-- Desktop View -->
            <div class="d-none d-lg-block">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <p class="pull-left font-weight-bold mb-0 sub-heading">JD DOCUMENT ID :</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                  <h4 class="pull-right font-weight-bold mb-0 theme-color">{{matchingConsultants?.Count}}</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <p class="pull-left mb-0">{{jobDetail.ProfileDetail.ProfileId | jobId}}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                  <p class="pull-right mb-0">*Internal Pool with 50% Match Score</p>
                </div>
              </div>
            </div>
            <!-- Mobile View -->
            <div class="row d-lg-none">
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <p class="pull-left font-weight-bold mb-0 sub-heading">JD DOCUMENT ID :</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <p class="pull-right mb-0">{{jobDetail.ProfileDetail.ProfileId | jobId}}</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <p class="pull-left mb-0">*Internal Pool with 50% Match Score</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <h4 class="pull-right font-weight-bold mb-0 theme-color">{{matchingConsultants?.Count}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <form [formGroup]="jobDescriptionForm" class="container p-0 my-3 text-muted col-md-12"
                (ngSubmit)="onSave()">
                <div class="row">
                  <p  *ngIf="isSameUser" class="col-4">Make It As Private JD</p>
                  <section class="example-section col-8 pl-0" *ngIf="isSameUser" style="height: 35px;">
                    <mat-slide-toggle  class="pb-5" [color]="color" [checked]="isPrivateChecked"
                    [(ngModel)]="isPrivateChecked" [ngModelOptions]="{standalone: true}" [disabled]="disabled" (click)="toggleShare(true,false)">
                  </mat-slide-toggle>
                  </section>
                  <p class="col-4 pt-2 font-weight-bold">DESIGNATION</p>
                  <mat-form-field class="col-8 pl-0">
                    <input type="text" placeholder="Select Designation"
                      aria-label="Number" (keyup)="clearDesignationId($event);filterDesignationList($event)" matInput
                      [value]="selectedDesignationName" formControlName="selectedDesignationN" (keydown.backspace)="removeDesignation($event)" 
                      [matAutocomplete]="desig">
                    <mat-autocomplete (optionSelected)="FetchProfileSummary($event.option);checkDuplicateDesignation($event)" #desig="matAutocomplete">
                      <mat-option *ngFor="let designation of filteredDesignations" [value]="designation.Id" [disabled]="designation.DesignationName == selectedDesignationName">
                        {{designation.DesignationName}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-error class="col-8 offset-4 px-0">
                    <div *ngIf="(submitted || jobDescriptionForm.get('selectedDesignationN').touched)">
                      <div *ngIf="jobDescriptionForm.get('selectedDesignationN').invalid">Please select designation.
                      </div>
                      <div *ngIf="isDuplicateDesignation">Entered designation is already exists.</div>
                    </div>
                  </mat-error>
                  <p class="col-4 pt-2 font-weight-bold">EXPERIENCE</p>
                  <mat-form-field class="col-8 pl-0">
                    <mat-label>Select Experience</mat-label>
                    <mat-select formControlName="selectedExperience">
                      <mat-option *ngFor="let experience of experiences" [value]="experience.Id">
                        {{experience.ExperienceName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error class="col-8 offset-4 px-0">
                    <div
                      *ngIf="(submitted || jobDescriptionForm.get('selectedExperience').touched) && jobDescriptionForm.get('selectedExperience').invalid">
                      <div *ngIf="jobDescriptionForm.get('selectedExperience').invalid">Please select experience.</div>
                    </div>
                  </mat-error>
                  <p class="col-4 pt-2 font-weight-bold">LOCATION</p>
                  <mat-form-field class="col-8 pl-0">
                    <mat-label>Select Location</mat-label>
                    <mat-select formControlName="selectedLocation" multiple [compareWith]="compareWithFunc">
                      <mat-option *ngFor="let location of locations" [value]="location.Id">
                        {{location.LocationName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error class="col-8 offset-4 px-0">
                    <div
                      *ngIf="(submitted || jobDescriptionForm.get('selectedLocation').touched) && jobDescriptionForm.get('selectedLocation').invalid">
                      <div *ngIf="jobDescriptionForm.get('selectedLocation').invalid">Please select location.</div>
                    </div>
                  </mat-error>
                  <div class="col-12">
                    <hr>
                  </div>
                  <div class="col-12">
                    <p class="pt-2 font-weight-bold">SUMMARY</p>
                  </div>

                  <div class="col-12">
                    <div *ngIf="suggestedSummary.length>0" id="demo" class="carousel slide suggestion-card"
                      data-interval="false">

                      <!-- Indicators -->
                      <ul class="carousel-indicators mb-4">
                        <li *ngFor="let summary of suggestedSummary;let i=index" data-target="#demo"
                          [attr.data-slide-to]="i" ngClass="i == 0 ? 'active' : ''"></li>
                      </ul>

                      <!-- The slideshow -->
                      <div class="carousel-inner">
                        <div *ngFor="let summary of suggestedSummary; let k = index" class="carousel-item text-center"
                          [ngClass]="k == 0 ? 'active' : ''">
                          <h3>Suggestion {{k+1}}</h3>
                          <p class="mb-3">{{summary}}</p>
                          <button type="button" class="btn theme-color-btn btn-sm"
                            (click)="selectSuggestion(summary)">Select</button>
                        </div>
                      </div>

                      <!-- Left and right controls -->
                      <a class="carousel-control-prev" href="#demo"  data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#demo"  data-slide="next">
                        <span class="carousel-control-next-icon" style="color: grey;"></span>
                      </a>

                    </div>
                    <mat-form-field class="col-12 px-0">
                      <textarea style="padding: 1px" type="text" cdkTextareaAutosize placeholder="" aria-label="Number" matInput
                        formControlName="about"></textarea>
                    </mat-form-field>
                    <mat-error>
                      <span
                        *ngIf="!jobDescriptionForm.get('about').valid && jobDescriptionForm.get('about').touched">Please
                        enter summary !!!</span>
                    </mat-error>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">TAGS</p>
                <mat-form-field class="col-12 example-chip-list">
                  <mat-chip-list #chipList>
                    <mat-chip *ngFor="let tag of mandatoryTagsList;" [selectable]="selectable" [removable]="removable"
                      (removed)="removeMandatoryTag(tag)">
                      {{tag?.TagName}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Mandatory Tags" #tagInputMandatory [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" formControlName="mandatoryTags"
                      [matAutocomplete]="auto" (matChipInputTokenEnd)="addMandatoryTag($event,true)">
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedMandatoryTag($event)">
                    <mat-option  *ngFor="let tag of filteredTags | async" [value]="tag">
                      {{tag?.TagName}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-error style="margin-bottom: 15px;" class="col-8" *ngIf="(submitted || jobDescriptionForm.get('mandatoryTags').touched) && mandatoryTagsList.length<1">
                  <div >
                    Please enter tags.
                  </div>
                </mat-error>
                <app-suggested-tag-view [label]="'Suggested Tags'" (onTagEmitt)="appendToMandatoryTags($event)" [associatedTags]="associatedTags"></app-suggested-tag-view>



                  <mat-form-field class="col-12 pt-10 example-chip-list">
                    <mat-chip-list #chipListDesired>
                      <mat-chip *ngFor="let tag of desiredTagsList" [selectable]="selectable" [removable]="removable"
                        (removed)="removeDesiredTag(tag)">
                        {{tag?.TagName}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="Desired Tags" #tagInputDesired [matChipInputFor]="chipListDesired"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" formControlName="desiredTags"
                        [matAutocomplete]="autoDesired" (matChipInputTokenEnd)="addDesiredTag($event,true,2)">
                    </mat-chip-list>
                    <mat-autocomplete #autoDesired="matAutocomplete" (optionSelected)="selectedDesiredTag($event)">
                      <mat-option *ngFor="let tag of filteredTagsDesired | async" [value]="tag">
                        {{tag?.TagName}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-error style="margin-bottom: 15px;" class="col-8" *ngIf="(submitted || jobDescriptionForm.get('desiredTags').touched) && desiredTagsList.length<1">
                    <div >
                      Please enter tags.
                    </div>
                  </mat-error>
                  <app-suggested-tag-view [label]="'Suggested Tags'" (onTagEmitt)="appendToDesiredTags($event)" [associatedTags]="associatedDesiredTags"></app-suggested-tag-view>

                  <small class="col-12 form-text text-muted">*Add User name, Project, Skill, Client and future
                    references.</small>
                  <p class="col-12 pt-2 font-weight-bold">MANDATORY SKILLS</p>
                  <div class="col-12" formArrayName="mandatorySkills"
                    *ngFor="let skill of jobDescriptionForm.get('mandatorySkills')['controls']; let i = index;">
                    <div [formGroupName]="i">
                      <div class="row pb-2">
                        <div class="col-11 col-md-11 col-lg-11">
                          <div class="input-group">
                            <mat-form-field [class.visibility-hidden]='!skill.controls.isEditing.value' class="col-12 px-0">
                              <textarea style="overflow:hidden" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                (keyup)="getMandatorySkill($event)" placeholder="Mandatory Skill" aria-label="Number" matInput
                                formControlName="SkillName" [value]="SkillName" [matAutocomplete]="auto"></textarea>
                              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedSkill($event,i)">
                                <mat-option *ngFor="let suggestion of suggestedMandatorySkill; let i = index;"
                                  [value]="suggestion.SkillName">
                                  {{suggestion.SkillName}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                            <mat-error>
                              <div
                                *ngIf="(submitted || jobDescriptionForm.get('mandatorySkills')['controls'][i].touched) && jobDescriptionForm.get('mandatorySkills')['controls'][i].invalid">
                                <div *ngIf="jobDescriptionForm.get('mandatorySkills')['controls'][i].invalid">Please
                                  enter skill !!!</div>
                              </div>
                            </mat-error>
                          </div>
                          <p [hidden]='skill.controls.isEditing.value' class="my-auto" style="color:gray">
                            {{skill.controls.SkillName.value}}</p>
                        </div>
                        <div class="col-1 my-auto p-0 btn dropdown dropright">
                          <i  [hidden]="jobDescriptionForm.get('mandatorySkills').length == 1 && !isSkillNameNotEmpty(skill.controls)" class="fa pl-2 fa-ellipsis-v float-right" aria-hidden="true" data-toggle="dropdown"></i>
                          <div class="dropdown-menu" style="left:25px !important">
                            <a class="dropdown-item" href="JavaScript:" *ngIf="!skill.controls.isEditing.value"
                              (click)='skill.controls.isEditing.value = true'>Edit</a>
                            <a class="dropdown-item" href="JavaScript:" *ngIf="isSkillNameNotEmpty(skill.controls)"  (click)="moveToDesired(skill.controls,i)">Move
                              To Desired</a>
                            <a class="dropdown-item" href="JavaScript:"
                              (click)='deleteSkill(skill.controls,false,i)'>Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 pr-0">
                    <button type="button" class="btn theme-color-btn btn-sm" (click)="addMandatorySkill()"> +
                      Add</button>
                    <hr>
                  </div>

                  <p class="col-12 pt-2 font-weight-bold">DESIRED SKILLS</p>
                  <div class="col-12" formArrayName="desiredSkills"
                    *ngFor="let skill of jobDescriptionForm.get('desiredSkills')['controls']; let i = index;">
                    <div [formGroupName]="i">
                      <div class="row pb-2">
                        <div class="col-11 col-md-11 col-lg-11">
                          <div class="input-group">
                            <mat-form-field [class.visibility-hidden]='!skill.controls.isEditing.value' class="col-12 px-0">
                              <textarea style="overflow:hidden" type="text" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" (keyup)="getDesiredSkill($event)" placeholder="Desired Skill"
                                aria-label="Number" matInput formControlName="SkillName"
                                [matAutocomplete]="auto"></textarea>
                              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedSkill($event,i)">
                                <mat-option *ngFor="let suggestion of suggestedDesiredSkill; let i = index;"
                                  [value]="suggestion.SkillName">
                                  {{suggestion.SkillName}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                            <mat-error>
                              <div
                                *ngIf="(submitted || jobDescriptionForm.get('desiredSkills')['controls'][i].touched) && jobDescriptionForm.get('desiredSkills')['controls'][i].invalid">
                                <div *ngIf="jobDescriptionForm.get('desiredSkills')['controls'][i].invalid">Please enter
                                  skill !!!</div>
                              </div>
                            </mat-error>
                          </div>
                          <p class="my-auto" [hidden]='skill.controls.isEditing.value' style="color:gray">
                            {{skill.controls.SkillName.value}}</p>
                        </div>
                        <div class="col-1 my-auto p-0 btn dropdown dropright">
                          <i [hidden]="jobDescriptionForm.get('desiredSkills').length == 1 && !isSkillNameNotEmpty(skill.controls)" class="fa pl-2 fa-ellipsis-v float-right" aria-hidden="true" data-toggle="dropdown"></i>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="JavaScript:" *ngIf="!skill.controls.isEditing.value"
                              (click)='skill.controls.isEditing.value = true'>Edit</a>
                            <a class="dropdown-item" href="JavaScript:" *ngIf="isSkillNameNotEmpty(skill.controls)"  (click)="moveToMandatory(skill.controls,i)">Move
                              To Mandatory</a>
                            <a class="dropdown-item" href="JavaScript:"
                              (click)='deleteDesiredSkill(skill.controls,false,i)'>Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 pr-0">
                    <button type="button" class="btn theme-color-btn btn-sm" (click)="addDesiredSkill($event)"> + Add</button>
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">QUALIFICATION</p>
                  <div class="col-12" formArrayName="qualifications"
                    *ngFor="let item of jobDescriptionForm.get('qualifications')['controls']; let i = index;">
                    <div [formGroupName]="i">
                      <div class="row pb-2">
                        <div class="col-11 col-md-11 col-lg-11">
                          <div class="input-group">
                            <mat-form-field [class.visibility-hidden]='!item.controls.isEditing.value' class="col-12 px-0">
                              <textarea style="overflow:hidden" type="text" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" (keyup)="getQualifications($event)"
                                placeholder="Qualification" aria-label="Number" matInput formControlName="Name"
                                [matAutocomplete]="auto"></textarea>
                              <mat-autocomplete #auto="matAutocomplete"
                                (optionSelected)="selectQualification($event,i)">
                                <mat-option *ngFor="let qualification of suggestedQualification; let i = index;"
                                  [value]="qualification.Name" multipleLineOption>
                                  {{qualification.Name}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                            <mat-error>
                              <div
                                *ngIf="(submitted || jobDescriptionForm.get('qualifications')['controls'][i].touched) && jobDescriptionForm.get('qualifications')['controls'][i].invalid">
                                <div *ngIf="jobDescriptionForm.get('qualifications')['controls'][i].invalid">Please
                                  enter qualification !!!</div>
                              </div>
                            </mat-error>
                          </div>
                          <p [hidden]='item.controls.isEditing.value' style="color:gray">{{item.controls.Name.value}}
                          </p>
                        </div>
                        <div class="col-1 my-auto p-0 btn dropdown dropright">
                          <i [hidden]="jobDescriptionForm.get('qualifications').length==1 && !isQualificationEmpty(item.controls)" class="fa pl-2 fa-ellipsis-v float-right" aria-hidden="true" data-toggle="dropdown"></i>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="JavaScript:" *ngIf="!item.controls.isEditing.value"
                              (click)='item.controls.isEditing.value = true'>Edit</a>
                            <a class="dropdown-item" href="JavaScript:"
                              (click)='deleteQualification(item.controls,i)'>Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 pr-0">
                    <button type="button" class="btn theme-color-btn btn-sm" (click)="addQualification()">+ Add</button>
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">ROLE AND RESPONSIBILITIES</p>
                  <div class="col-12" formArrayName="rolesAndResponsibility"
                    *ngFor="let item of jobDescriptionForm.get('rolesAndResponsibility')['controls']; let i = index;">
                    <div [formGroupName]="i">
                      <div class="row pb-2">
                        <div class="col-11 col-md-11 col-lg-11">
                          <div class="input-group">
                            <mat-form-field [class.visibility-hidden]="!item.controls.isEditing.value" class="col-12 px-0">
                              <textarea style="overflow:hidden" type="text" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" (keyup)="getResponsibilities($event)"
                                placeholder="Role And Responsibility" aria-label="Number" matInput
                                formControlName="Responsibility" [matAutocomplete]="auto"></textarea>
                              <mat-autocomplete #auto="matAutocomplete"
                                (optionSelected)="selectResponsibility($event,i)">
                                <mat-option *ngFor="let responsibility of suggestedResponsibilities; let i = index;"
                                  [value]="removeSpace(responsibility.Responsibility)" multipleLineOption>
                                  {{responsibility.Responsibility}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                            <mat-error>
                              <div
                                *ngIf="(submitted || jobDescriptionForm.get('rolesAndResponsibility')['controls'][i].touched) && jobDescriptionForm.get('rolesAndResponsibility')['controls'][i].invalid">
                                <div *ngIf="jobDescriptionForm.get('rolesAndResponsibility')['controls'][i].invalid">
                                  Please enter role and responsibilty !!!</div>
                              </div>
                            </mat-error>
                          </div>
                          <p [hidden]='item.controls.isEditing.value' class="my-auto" style="color:gray">
                            {{item.controls.Responsibility.value}}</p>
                        </div>
                        <div class="col-1 my-auto p-0 btn dropdown dropright">
                          <i [hidden]="jobDescriptionForm.get('rolesAndResponsibility').length == 1 && !isResponsibilityEmpty(item.controls)" class="fa pl-2 fa-ellipsis-v float-right" aria-hidden="true" data-toggle="dropdown"
                            data-display="static"></i>
                          <div class="dropdown-menu dropdown-right">
                            <a class="dropdown-item" href="JavaScript:" *ngIf="!item.controls.isEditing.value"
                              (click)='item.controls.isEditing.value = true'>Edit</a>
                            <a class="dropdown-item" href="JavaScript:"
                              (click)='deleteResponsiblity(item.controls,i)'>Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 pr-0">
                    <button type="button" class="btn theme-color-btn btn-sm" (click)="addResponsibility()">+
                      Add</button>
                    <hr>

                  </div>
                  <p class="col-12 pt-2 font-weight-bold mb-0">Last Updated By : <span
                      class="font-weight-normal">{{jobDetail.ProfileDetail.UpdaterName ? jobDetail.ProfileDetail.UpdaterName : jobDetail.ProfileDetail.CreatorName}}</span></p>
                  <p class="col-12 font-weight-bold mb-0">Last Updated On : <span
                      class="font-weight-normal">{{(jobDetail.ProfileDetail.UpdatedDate ? jobDetail.ProfileDetail.UpdatedDate : jobDetail.ProfileDetail.CreatedDate) | date: 'dd-MMM-yyyy'}}</span>
                  </p>
                  <div class="col-12 d-none pr-0 d-lg-block">
                    <input (click)="isEditJd = false;onCancel()" type="button" value="Cancel"
                      class=" btn theme-color-btn mr-2" />
                    
                    <input id="viewButton" data-toggle="modal" data-target="#myModal" type="button"
                      (click)="viewCandidates(myModal)" value="View Internal Pool" class=" btn theme-color-btn mr-2" />
                      <input data-toggle="modal" data-target="#iCIMSCandidateModal" type="button" (click)="viewiCIMSCandidates(iCIMSCandidateModal)"
                      value="View External Pool" class=" mr-2 btn theme-color-btn" />
                      <input *ngIf="isSameUser || (!isSameUser && IsReviewJd) || (!isSameUser && IsSharedJD)"
                      (click)="onSave()" type="button" value="Save" class=" btn theme-color-btn mr-2" />
                    <input *ngIf="!isSameUser && saveAsCopy " (click)="onSave()" type="button" value="Save As Copy"
                      class=" btn theme-color-btn mr-2" />
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-4 d-none d-lg-block">
              <table class="table table-bordered p-3 my-3">
                <thead>
                  <tr>
                    <th scope="col">Match Percentage</th>
                    <th scope="col">Internal Pool</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let count of candidateCountList" class="noBorder">
                    <td>{{count?.range}}</td>
                    <td>{{count?.count ? count.count : '0'}}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>{{matchingConsultants?.Count}}</td>
                  </tr>
                </tbody>

              </table>
              <p>*Powered By <b>SMART</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div *ngIf="isEditJd" class="row d-md-none fixed-bottom" style="height: 55px;">
    <div class="col-4 p-0">
      <button (click)="viewCandidates(myModal)" data-toggle="modal" data-target="#myModal" class="w-100 h-100 font-weight-bold theme-color-btn " style="
      border: none;">View Internal Pool</button>
    </div>
    <div class="col-4 p-0">
      <button (click)="viewiCIMSCandidates(iCIMSCandidateModal)" data-toggle="modal" data-target="#iCIMSCandidateModal" class="w-100 h-100 font-weight-bold theme-color-btn " style="
      border: none;">View External Pool</button>
    </div>
    <div class="col-4 p-0">
      <button *ngIf="isSameUser || (!isSameUser && IsReviewJd) || (!isSameUser && IsSharedJD)" (click)="onSave()"
        type="button" class="w-100 h-100 font-weight-bold theme-secondary-btn">Save</button>
      <button *ngIf="!isSameUser && saveAsCopy" (click)="onSave()" type="button"
        class="w-100 h-100 font-weight-bold theme-secondary-btn">Save As Copy</button>
    </div>
  </div>

  <!-- VIEW MODE -->
  <div id="content" [hidden]="isEditJd" class="row bg-white pb-3">
    <div class="col-md-12 no-padding mb-5" style="font-size: 13px;">
      <div class="row pt-2 pb-3 d-lg-none" id="header" style="margin-top: 47px;">
        <div class="col-8">
          <button style="background: #9E4587;border-radius: 0;" class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#collapsibleNavbar">
            <i class="fa fa-bars fa-2x" style="color:white" aria-hidden="true"></i>
          </button>
          <span style="color:white;position: absolute;top: 20px;" class="pt-2 pl-2">VIEW JDs > JD DETAILS</span>
        </div>
        <div [routerLink]="['/jd-creator/allJd']" class="col-4 pt-2">
          <div class="dropdown dropleft float-right">
            <button type="button" class="btn theme-color-btn">
              Back
            </button>
          </div>
        </div>
      </div>
      <div class="card shadow-card mt-3">
        <div class="card-header" style="background:#EAECEA;">
          <div class="grid">
            <!-- Desktop View -->
            <div class="d-none d-lg-block">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <p class="pull-left font-weight-bold mb-0 sub-heading">JD DOCUMENT ID :</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                  <h4 class="pull-right font-weight-bold mb-0 theme-color">{{matchingConsultants?.Count}}</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <p class="pull-left mb-0">{{jobDetail.ProfileDetail.ProfileId | jobId}}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                  <p class="pull-right mb-0">*Internal Pool with 50% Match Score</p>
                </div>
              </div>
            </div>

            <!-- Mobile View -->
            <div class="row d-lg-none">
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <p class="pull-left font-weight-bold mb-0 sub-heading">JD DOCUMENT ID :</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <p class="pull-right mb-0">{{jobDetail.ProfileDetail.ProfileId | jobId}}</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <p class="pull-left mb-0">*Internal Pool with 50% Match Score</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <h4 class="pull-right font-weight-bold mb-0 theme-color">{{matchingConsultants?.Count}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <form [formGroup]="jobDescriptionForm" class="container p-0 my-3 text-muted col-md-12"
                (ngSubmit)="onSave()">
                <div class="row">
                  <p class="col-4 pt-2 font-weight-bold">DESIGNATION</p>
                  <p class="col-8 pt-2">{{selectedDesignationName}}</p>
                  <p class="col-4 pt-2 font-weight-bold">EXPERIENCE</p>
                  <p class="col-8 pt-2">{{selectedExperienceName}}</p>
                  <p class="col-4 pt-2 font-weight-bold">LOCATION</p>
                  <p class="col-8 pt-2">{{selectedLocationName.join(', ')}}</p>
                  <div class="col-12">
                    <p class="pt-2 font-weight-bold">SUMMARY</p>
                  </div>

                  <div class="col-12">
                    <p class="ellipsis" style="color:gray">{{jobDescriptionForm.controls.about.value}}</p>
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">MANDATORY TAGS</p>
                  <mat-chip-list class="col-12">
                    <mat-chip *ngFor="let tag of mandatoryTagsList">{{tag.TagName}}</mat-chip>
                  </mat-chip-list>
                  <p class="col-12 pt-2 font-weight-bold">DESIRED TAGS</p>
                  <mat-chip-list class="col-12">
                    <mat-chip *ngFor="let tag of desiredTagsList">{{tag.TagName}}</mat-chip>
                  </mat-chip-list>
                  <div class="col-12">
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">MANDATORY SKILLS</p>
                  <p class="col-12">
                    <span class="spacing" *ngFor="let skill of jobDescriptionForm.get('mandatorySkills')['controls']; let i = index;">
                      {{skill.controls.SkillName.value}}<span>.<br /></span>
                    </span>
                  </p>
                  <div class="col-12">
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">DESIRED SKILLS</p>
                  <p class="col-12">
                    <span class="spacing" *ngFor="let skill of jobDescriptionForm.get('desiredSkills')['controls']; let i = index;">
                      {{skill.controls.SkillName.value}}<span>.<br /></span>
                    </span>
                  </p>
                  <div class="col-12">
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">QUALIFICATION</p>
                  <p class="col-12">
                    <span class="spacing" *ngFor="let item of jobDescriptionForm.get('qualifications')['controls']; let i = index;">
                      {{item.controls.Name.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                    </span>
                  </p>
                  <div class="col-12">
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">ROLE AND RESPONSIBILITIES</p>
                  <p class="col-12">
                    <span class="spacing"
                      *ngFor="let item of jobDescriptionForm.get('rolesAndResponsibility')['controls']; let i = index;">
                      {{item.controls.Responsibility.value}}<span *ngIf="i !== tags.length-1">.<br/></span>
                    </span>
                  </p>
                  <div class="col-12">
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold mb-0">Last Updated By : <span
                      class="font-weight-normal">{{jobDetail.ProfileDetail.UpdaterName ? jobDetail.ProfileDetail.UpdaterName : jobDetail.ProfileDetail.CreatorName}}</span></p>

                  <p class="col-12 font-weight-bold mb-0">Last Updated On : <span
                      class="font-weight-normal">{{ (jobDetail.ProfileDetail.UpdatedDate ? jobDetail.ProfileDetail.UpdatedDate : jobDetail.ProfileDetail.CreatedDate) | date: 'dd-MMM-yyyy'}}</span>
                  </p>
                  <div class="col-6 col-lg-4">
                    <button (click)="downloadPDF2()" type="button" class="bg-white p-2 w-100">Export as Pdf</button>
                  </div>
                  <div class="col-6 col-lg-4">
                    <button [hidden]="true" type="button" class="bg-white p-2 w-100">Request to Refill</button>
                  </div>
                  <div class="col-12 d-none pr-0 d-lg-block pt-4">
                    <input data-toggle="modal" data-target="#myModal" type="button" (click)="viewCandidates(myModal)"
                      value="View Internal Pool" class=" mr-2 btn theme-color-btn" />

                      <input data-toggle="modal" data-target="#iCIMSCandidateModal" type="button" (click)="viewiCIMSCandidates(iCIMSCandidateModal)"
                      value="View External Pool" class=" mr-2 btn theme-color-btn" />



                    <input (click)="fixHeader();onEdit()" type="button" value="Edit" class="btn theme-color-btn mr-2" />
                    <input data-toggle="modal" data-target="#deleteConfirmation" *ngIf="isSameUser" type="button"
                      value="Delete" class="btn theme-color-btn" />
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-4 d-none d-lg-block">
              <table class="table table-bordered p-3 my-3">
                <thead>
                  <tr>
                    <th scope="col">Match Percentage</th>
                    <th scope="col">Internal Pool</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let count of candidateCountList" class="noBorder">
                    <td>{{count?.range}}</td>
                    <td>{{count?.count ? count.count : '0'}}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>{{matchingConsultants?.Count}}</td>
                  </tr>
                </tbody>
              </table>
              <p style="padding-left: 10px;"><span>*</span> Powered By <b>SMART</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isEditJd" class="row d-md-none fixed-bottom" style="height: 55px;">

    <div class="col-4 p-0">
      <button (click)="viewCandidates(myModal)" data-toggle="modal" data-target="#myModal"
        class="w-100 h-100 font-weight-bold theme-color-btn" style="
      border: none;">View Internal Pool</button>
      <!-- The Modal -->
    </div>
    <div class="col-4 p-0">
      <button  data-toggle="modal" data-target="#iCIMSCandidateModal" (click)="viewiCIMSCandidates(iCIMSCandidateModal)"
        class="w-100 h-100 font-weight-bold theme-color-btn" style="
      border: none;">View External Pool</button>
      <!-- The Modal -->
    </div>
    <div class="col-2 p-0">
      <button (click)="fixHeader();onEdit()" class="w-100 h-100 font-weight-bold theme-secondary-btn">Edit JD</button>
    </div>
    <div class="col-2 p-0">
    <button data-toggle="modal" data-target="#deleteConfirmation" *ngIf="isSameUser" type="button"
                   class="w-100 h-100 font-weight-bold theme-secondary-btn" >Delete</button></div>
    
  </div>
  <div class="modal" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header pb-0 pr-1 pt-1 border-0">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body pt-0">
          <div class="row">
            <div class="col-6">
              <p class="mb-0">
                Total Candidates
              </p>
              <h4>
                {{candidateRecordsAsPerSectionTemp?.length}}
              </h4>
            </div>
            <div  class="col-6" style="text-align: right;padding-right: 30px;margin-top: 3px; font-size: 13px;">
                  <select name="filterBy" #countrySelect id="filterBy" (change)="changeFilter($event)">
                    <option value="-1" disabled>SELECT REGION</option>
                    <option value="ALL REGIONS">ALL REGIONS</option>
                    <option *ngFor="let c of countryList;" [value]="c">{{c}}</option>
                  </select>
                  </div>
              </div>
        </div>
        <div>
          <div>
            <div class="chart">
              <!-- <span class="regionText" *ngIf="!!selectedRegionInternal">
                Selected Region : <b> {{selectedRegionInternal}}</b>
              </span> -->
              <canvas baseChart *ngIf="!!pieChartData.length" [data]="pieChartData" [labels]="pieChartLabels"
                [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
                [colors]="pieChartColors" [legend]="pieChartLegend" (chartClick)="onChartClick($event)">
              </canvas>
              <span class="no-chart" *ngIf="!pieChartData.length">No data</span>
            </div>
          </div>
          <div class="row">
            <div class="col-11 candidate-details">

              <table class="table table-bordered p-3 my-3">
                <thead>
                  <tr>
                    <th scope="col">Candidate Name</th>
                    <th scope="col">Region</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="noBorder" *ngFor="let c of candidateRecordsAsPerSectionTemp">
                    <td><a target="_blank" [href]="c.ProfileURLLink">{{c.EmployeeName}}</a></td>
                    <td>{{c.Location ? c.Location : '-'}}</td>
                  </tr>

                </tbody>
                <tfoot>
                  <tr class="text-center" *ngIf="!candidateRecordsAsPerSection?.length">
                    <td colspan="2">No Record Found!</td> </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
        </div>

      </div>
    </div>
  </div>


  <div class="modal" id="iCIMSCandidateModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header pb-0 pr-1 pt-1 border-0">
          <h4 class="modal-title"></h4>
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <!-- Modal body -->
     
        <div>
          <div class="modal-body pt-0">
            <select name="filterBy" style="margin-right:15px;float:right;padding-right: 30px;margin-top: 3px; font-size: 13px;" #countrySelectExternal id="filterByExternal" (change)="changeFilterExternal($event)">
              <option value="-1" disabled>SELECT REGION</option>
              <option value="0">ALL REGIONS</option>
              <!-- <option *ngFor="let c of locations;" [value]="c.Id">{{c.LocationName}}</option> -->
              <option [value]="getLocations()">JD Specified Location</option>
            </select>
            <p  class="mb-0"> Total Candidates </p><h4> {{!!iCIMSCandidates?.TotalCount ? iCIMSCandidates?.TotalCount : 0}} </h4>
            </div>
            <span class="regionText" *ngIf="!!selectedRegionExternal">
              Selected Region : <b> {{selectedRegionExternal}}</b>
            </span>
              <app-i-cimscandidate-list [data]="iCIMSCandidates" ></app-i-cimscandidate-list>
      </div>
    </div>
</div>
  </div>

  

  <!-- The Modal -->
  <div class="modal fade" id="deleteConfirmation">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirm</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to delete this JD
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn theme-color-btn" data-dismiss="modal">NO</button>
          <button (click)="deleteProfile()" type="button" class="btn theme-color-btn" data-dismiss="modal">YES</button>
        </div>

      </div>
    </div>
  </div>

  <div style="overflow: hidden; height: 0;">
    <div #screen id="content-pdf" class="row bg-white pb-3">

      <img src="##HEADERIMAGE##">
      <div class="col-md-12 no-padding mb-5">
        <div class="card shadow-card mt-3" style="border:none">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="jobDescriptionForm" class="container p-0 my-3 text-muted col-md-12"
                  (ngSubmit)="onSave()">
                  <div class="row">
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 25px;color: black;">DESIGNATION</p>
                    <p class="col-12 pt-2" style="text-align: justify;font-size: 19px;color: black;">
                      {{selectedDesignationName}}</p>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 25px;color: black;">EXPERIENCE</p>
                    <p class="col-12 pt-2" style="text-align: justify;font-size: 19px;color: black;">
                      {{selectedExperienceName}}</p>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 25px;color: black;">LOCATION</p>
                    <p class="col-12 pt-2" style="text-align: justify;font-size: 19px;color: black;">
                      {{selectedLocationName.join(', ')}}</p>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 25px;color: black;">SUMMARY</p>

                    <div class="col-12">
                      <p style="text-align: justify;font-size: 19px;color: black;">
                        {{jobDescriptionForm.controls.about.value}}</p>
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 25px;color: black;">MANDATORY TAGS</p>
                    <p class="col-12 pt-2" style="text-align: justify;font-size: 19px;color: black;">
                      {{selectmandatorytags.join(', ')}}</p>
                    <div class="col-12">
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 25px;color: black;">DESIRED TAGS</p>
                    <p class="col-12 pt-2" style="text-align: justify;font-size: 19px;color: black;">
                      {{selectdesiredtags.join(', ')}}</p>
                    <div class="col-12">
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 25px;color: black;">MANDATORY SKILLS</p>
                    <p class="col-12">
                      <span style="text-align: justify;font-size: 19px;color: black;"
                        *ngFor="let skill of jobDescriptionForm.get('mandatorySkills')['controls']; let i = index;">
                        {{skill.controls.SkillName.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                      </span>
                    </p>
                    <div class="col-12">
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 25px;color: black;">DESIRED SKILLS</p>
                    <p class="col-12">
                      <span style="text-align: justify;font-size: 19px;color: black;"
                        *ngFor="let skill of jobDescriptionForm.get('desiredSkills')['controls']; let i = index;">
                        {{skill.controls.SkillName.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                      </span>
                    </p>
                    <div class="col-12">
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 25px;color: black;">QUALIFICATION</p>
                    <p class="col-12">
                      <span style="text-align: justify;font-size: 19px;color: black;"
                        *ngFor="let item of jobDescriptionForm.get('qualifications')['controls']; let i = index;">
                        {{item.controls.Name.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                      </span>
                    </p>
                    <div class="col-12">
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 25px;color: black;">ROLE AND
                      RESPONSIBILITIES</p>
                    <p class="col-12">
                      <span style="text-align: justify;font-size: 19px;color: black;"
                        *ngFor="let item of jobDescriptionForm.get('rolesAndResponsibility')['controls']; let i = index;">
                        {{item.controls.Responsibility.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                      </span>
                    </p>
                    <div class="col-12">
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold mb-0" style="font-size: 21px;color: black;">CREATED BY :
                      <span class="font-weight-normal"
                        style="text-align: justify;font-size: 19px;color: black;">{{jobDetail.ProfileDetail.CreatorName}}</span>
                    </p>

                    <p class="col-12 font-weight-bold mb-0" style="font-size: 21px;color: black;">UPDATED ON : <span
                        class="font-weight-normal"
                        style="text-align: justify;font-size: 19px;color: black;">{{jobDetail.ProfileDetail.UpdatedDate | date: 'dd-MMM-yyyy'}}</span>
                    </p>
                    <p class="col-12 font-weight-bold" style="font-size: 21px;color: black;">CREATED ON : <span
                        class="font-weight-normal"
                        style="text-align: justify;font-size: 19px;color: black;">{{jobDetail.ProfileDetail.CreatedDate | date: 'dd-MMM-yyyy'}}</span>
                    </p>
                  </div>

                </form>
                <style>
                  .p-header {
                    font-size: 25px;
                    color: black;
                  }
                </style>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>