  <!-- VIEW MODE -->
  <div id="content" [hidden]="isEditJd" class="row bg-white pb-3">
    <div class="col-md-12 no-padding mb-5" style="font-size: 13px;">
      <div class="row pt-2 pb-3 d-lg-none" id="header">
        <div class="col-8">
          <button style="background: #9E4587;border-radius: 0;" class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#collapsibleNavbar">
            <i class="fa fa-bars fa-2x" style="color:white" aria-hidden="true"></i>
          </button>
          <span style="color:white;position: absolute;top: 20px;" class="pt-2 pl-2">VIEW JDs > JD DETAILS</span>
        </div>
        <div [routerLink]="['']" class="col-4 pt-2">
          <div class="dropdown dropleft float-right">
            <button type="button" class="btn theme-color-btn">
              Back
            </button>
          </div>
        </div>
      </div>
      <div class="card shadow-card mt-3">
        <div class="card-header" style="background:#EAECEA;">
          <div class="grid">
            <!-- Desktop View -->
            <div class="d-none d-lg-block">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <p class="pull-left font-weight-bold mb-0 sub-heading">JD DOCUMENT ID :</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                  <h4 class="pull-right font-weight-bold mb-0 theme-color">{{matchingConsultants?.Count}}</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <p class="pull-left mb-0">{{jobDetail.ProfileDetail.ProfileId | jobId}}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                  <p class="pull-right mb-0"># Candidates with 50% Match Score</p>
                </div>
              </div>
            </div>

            <!-- Mobile View -->
            <div class="row d-lg-none">
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <p class="pull-left font-weight-bold mb-0 sub-heading">JD DOCUMENT ID :</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <p class="pull-right mb-0">{{jobDetail.ProfileDetail.ProfileId | jobId}}</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <p class="pull-left mb-0"># Candidates with 50% Match Score</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <h4 class="pull-right font-weight-bold mb-0 theme-color">{{matchingConsultants?.Count}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <form [formGroup]="jobDescriptionForm" class="container p-0 my-3 text-muted col-md-12"
                (ngSubmit)="onSave()">
                <div class="row">
                  <p class="col-4 pt-2 font-weight-bold">DESIGNATION</p>
                  <p class="col-8 pt-2">{{selectedDesignationName}}</p>
                  <p class="col-4 pt-2 font-weight-bold">EXPERIENCE</p>
                  <p class="col-8 pt-2">{{selectedExperienceName}}</p>
                  <p class="col-4 pt-2 font-weight-bold">LOCATION</p>
                  <p class="col-8 pt-2">{{selectedLocationName.join(', ')}}</p>
                  <div class="col-12">
                    <p class="pt-2 font-weight-bold">SUMMARY</p>
                  </div>

                  <div class="col-12">
                    <p class="ellipsis" style="color:gray">{{jobDescriptionForm.controls.about.value}}</p>
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">MANDATORY TAGS</p>
                  <mat-chip-list class="col-12">
                    <mat-chip *ngFor="let tag of mandatoryTagsList">{{tag.TagName}}</mat-chip>
                  </mat-chip-list>
                  <p class="col-12 pt-2 font-weight-bold">DESIRED TAGS</p>
                  <mat-chip-list class="col-12">
                    <mat-chip *ngFor="let tag of desiredTagsList">{{tag.TagName}}</mat-chip>
                  </mat-chip-list>
                  <div class="col-12">
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">MANDATORY SKILLS</p>
                  <p class="col-12">
                    <span *ngFor="let skill of jobDescriptionForm.get('mandatorySkills')['controls']; let i = index;">
                      {{skill.controls.SkillName.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                    </span>
                  </p>
                  <div class="col-12">
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">DESIRED SKILLS</p>
                  <p class="col-12">
                    <span *ngFor="let skill of jobDescriptionForm.get('desiredSkills')['controls']; let i = index;">
                      {{skill.controls.SkillName.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                    </span>
                  </p>
                  <div class="col-12">
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">QUALIFICATION</p>
                  <p class="col-12">
                    <span *ngFor="let item of jobDescriptionForm.get('qualifications')['controls']; let i = index;">
                      {{item.controls.Name.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                    </span>
                  </p>
                  <div class="col-12">
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold">ROLE AND RESPONSIBILITIES</p>
                  <p class="col-12">
                    <span
                      *ngFor="let item of jobDescriptionForm.get('rolesAndResponsibility')['controls']; let i = index;">
                      {{item.controls.Responsibility.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                    </span>
                  </p>
                  <div class="col-12">
                    <hr>
                  </div>
                  <p class="col-12 pt-2 font-weight-bold mb-0">Last Updated By : <span
                      class="font-weight-normal">{{jobDetail.ProfileDetail.UpdaterName ? jobDetail.ProfileDetail.UpdaterName : jobDetail.ProfileDetail.CreatorName}}</span></p>

                  <p class="col-12 font-weight-bold mb-0">Last Updated On : <span
                      class="font-weight-normal">{{ (jobDetail.ProfileDetail.UpdatedDate ? jobDetail.ProfileDetail.UpdatedDate : jobDetail.ProfileDetail.CreatedDate) | date: 'dd-MMM-yyyy'}}</span>
                  </p>
                  <div class="col-6 col-lg-4">
                    <button (click)="downloadPDF2()" type="button" class="bg-white p-2 w-100">Export as Pdf</button>
                  </div>
                  <div class="col-6 col-lg-4">
                    <button type="button" class="bg-white p-2 w-100">Request To iCIMS</button>
                  </div>
                  <div class="col-12 d-none pr-0 d-lg-block pt-4">
                    <input data-toggle="modal" data-target="#myModal" type="button" (click)="viewCandidates(myModal)"
                      value="View Candidates" class=" mr-2 btn theme-color-btn" />
                    <input (click)="fixHeader();onEdit()" type="button" value="Edit" class="btn theme-color-btn mr-2" />
                    <input data-toggle="modal" data-target="#deleteConfirmation" *ngIf="isSameUser" type="button"
                      value="Delete" class="btn theme-color-btn" />
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-4 d-none d-lg-block">
              <table class="table table-bordered p-3 my-3">
                <thead>
                  <tr>
                    <th scope="col">Candidate Count</th>
                    <th scope="col">Match Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let count of candidateCountList" class="noBorder">
                    <td>{{count?.count ? count.count : '0'}}</td>
                    <td>{{count?.range}}</td>
                  </tr>
                  <tr>
                    <td>{{matchingConsultants?.Count}}</td>
                    <td>All</td>
                  </tr>
                </tbody>
              </table>
              <small class="form-text text-muted">&lt; Illustrative &gt; chart.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isEditJd" class="row d-md-none fixed-bottom" style="height: 55px;">

    <div class="col-6 p-0">
      <button (click)="viewCandidates(myModal)" data-toggle="modal" data-target="#myModal"
        class="w-100 h-100 font-weight-bold theme-color-btn" style="
      border: none;">View Candidates</button>
      <!-- The Modal -->
    </div>
    <div class="col-6 p-0">
      <button (click)="fixHeader();onEdit()" class="w-100 h-100 font-weight-bold theme-secondary-btn">Edit JD</button>
    </div>
  </div>
<app-view-candidates-pie-chart></app-view-candidates-pie-chart>
  <!-- The Modal -->
  <div class="modal fade" id="deleteConfirmation">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirm</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to delete this JD
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn theme-color-btn" data-dismiss="modal">NO</button>
          <button (click)="deleteProfile()" type="button" class="btn theme-color-btn" data-dismiss="modal">YES</button>
        </div>

      </div>
    </div>
  </div>

  <div style="overflow: hidden; height: 0;">
    <div #screen id="content-pdf" class="row bg-white pb-3">

      <img src="##HEADERIMAGE##">
      <div class="col-md-12 no-padding mb-5">
        <div class="card shadow-card mt-3" style="border:none">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="jobDescriptionForm" class="container p-0 my-3 text-muted col-md-12"
                  (ngSubmit)="onSave()">
                  <div class="row">
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 30px;color: black;">DESIGNATION</p>
                    <p class="col-12 pt-2" style="text-align: justify;font-size: 24px;color: black;">
                      {{selectedDesignationName}}</p>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 30px;color: black;">EXPERIENCE</p>
                    <p class="col-12 pt-2" style="text-align: justify;font-size: 24px;color: black;">
                      {{selectedExperienceName}}</p>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 30px;color: black;">LOCATION</p>
                    <p class="col-12 pt-2" style="text-align: justify;font-size: 24px;color: black;">
                      {{selectedLocationName.join(', ')}}</p>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 30px;color: black;">SUMMARY</p>

                    <div class="col-12">
                      <p style="text-align: justify;font-size: 24px;color: black;">
                        {{jobDescriptionForm.controls.about.value}}</p>
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 30px;color: black;">TAGS</p>
                    <mat-chip-list class="col-12">
                      <mat-chip style="text-align: justify;font-size: 24px;color: black;background-color: #e0e0e0;
                    color: rgba(0,0,0,.87);transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 9px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 40px;
    height: 1px;" *ngFor="let tag of tags">{{tag.TagName}}</mat-chip>
                    </mat-chip-list>
                    <div class="col-12">
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 30px;color: black;">MANDATORY SKILLS</p>
                    <p class="col-12">
                      <span style="text-align: justify;font-size: 24px;color: black;"
                        *ngFor="let skill of jobDescriptionForm.get('mandatorySkills')['controls']; let i = index;">
                        {{skill.controls.SkillName.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                      </span>
                    </p>
                    <div class="col-12">
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 30px;color: black;">DESIRED SKILLS</p>
                    <p class="col-12">
                      <span style="text-align: justify;font-size: 24px;color: black;"
                        *ngFor="let skill of jobDescriptionForm.get('desiredSkills')['controls']; let i = index;">
                        {{skill.controls.SkillName.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                      </span>
                    </p>
                    <div class="col-12">
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 30px;color: black;">QUALIFICATION</p>
                    <p class="col-12">
                      <span style="text-align: justify;font-size: 24px;color: black;"
                        *ngFor="let item of jobDescriptionForm.get('qualifications')['controls']; let i = index;">
                        {{item.controls.Name.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                      </span>
                    </p>
                    <div class="col-12">
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold" style="font-size: 30px;color: black;">ROLE AND
                      RESPONSIBILITIES</p>
                    <p class="col-12">
                      <span style="text-align: justify;font-size: 24px;color: black;"
                        *ngFor="let item of jobDescriptionForm.get('rolesAndResponsibility')['controls']; let i = index;">
                        {{item.controls.Responsibility.value}}<span *ngIf="i !== tags.length-1">.<br /></span>
                      </span>
                    </p>
                    <div class="col-12">
                      <hr>
                    </div>
                    <p class="col-12 pt-2 font-weight-bold mb-0" style="font-size: 26px;color: black;">CREATED BY :
                      <span class="font-weight-normal"
                        style="text-align: justify;font-size: 24px;color: black;">{{jobDetail.ProfileDetail.CreatorName}}</span>
                    </p>

                    <p class="col-12 font-weight-bold mb-0" style="font-size: 26px;color: black;">UPDATED ON : <span
                        class="font-weight-normal"
                        style="text-align: justify;font-size: 24px;color: black;">{{jobDetail.ProfileDetail.UpdatedDate | date: 'dd-MMM-yyyy'}}</span>
                    </p>
                    <p class="col-12 font-weight-bold" style="font-size: 26px;color: black;">CREATED ON : <span
                        class="font-weight-normal"
                        style="text-align: justify;font-size: 24px;color: black;">{{jobDetail.ProfileDetail.CreatedDate | date: 'dd-MMM-yyyy'}}</span>
                    </p>
                  </div>

                </form>
                <style>
                  .p-header {
                    font-size: 30px;
                    color: black;
                  }
                </style>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>