<div *ngIf="isAuthenticated">
  <header class="row margin-0">
      <div style="padding-left: 3%;" class="col-7">
          <img class="logo" src="../../assets/images/logo.png" alt="DMI">
      </div>
      <div class="dropdown float-right user col-5">
        <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../../../../assets/images/profile_dummy-grey.png" class="float-right img-fluid pointer" style="height: 50px;">
        </button>
        <div style="padding:0.85rem" class="dropdown-menu dropdown-menu-right dropdown-menu-md-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="" (click)="logout()">Logout</a>
        </div>
      </div>
  </header>
  <div class="row main hexa">

      <a [routerLink]="['/jd-creator/allJd']" class="col-md-3">
          <div class="one" title="JD CREATOR"></div>
      </a>
      <a target="_blank" class="col-md-3" href="https://dminc.icims.com/">

          <div class="two" title="APPLICATION TRACKING SYSTEM"></div>
      </a>
      <a target="_blank" class="col-md-3" href="https://eu.pocketrecruiter.com/">

          <div class="three" title="SEARCH & MATCH"></div>
      </a>

      <a target="_blank" class="col-md-3"
          href="https://apps.powerapps.com/play/e69175f8-dfef-4eac-88b8-2bfc8a2a4a66?tenantId=db7ac9ef-779d-46e5-9bca-00509580ad6b&source=portal&screenColor=rgba(0%2C%20176%2C%20240%2C%201)">

          <div class="four" title="INTERVIEW SCHEDULER"></div>
      </a>

  </div>
  <div class="margin-top-1-em center">
    <p class="video-label">
        
      <b>Watch Video</b>: Introduction to RAPID
    </p>
    <div>
      <video class="video-ctrl" poster="../../../../assets/images/video-preset.png" preload="metadata" controls>
        <source src="https://360feedbackcontentprod.blob.core.windows.net/rapid-videos/Rapid-Demo-V3.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>  
    </div>
  </div>
</div>
<footer>
  <div class="footer_color_bar">
      <span class="pull-left">© 2020 RAPID DMI. All rights reserved. </span>
      <span class="pull-right">version-1.0.0.0</span>
      <div class="clearfix"></div>
  </div>

</footer>