<div class="col-12" style="padding-top: 38px;">
  <div class="col-4 btn">
    <img src="../../../../assets/images/jdupload1.png" alt="Jd upload">
    <p>Bulk JD Upload</p>
  </div>
  <div class="col-4 btn">
    <img [routerLink]="['/jd-creator/backoffice/designations']" src="../../../../assets/images/designation icon.png" alt="Designations">
    <p>Designations</p>
  </div>
  <div class="col-4 btn">
    <img [routerLink]="['/jd-creator/backoffice/experience']" src="../../../../assets/images/workexperienceicon.png" alt="Experience">
    <p>Experience</p>
  </div>
</div>
<div class="col-12">
  <div class="col-4 btn">
    <img src="../../../../assets/images/location2.jpg" alt="locations">
    <p>Locations</p>
  </div>
  <div class="col-4 btn">
    <img src="../../../../assets/images/skills3.jpg" alt="skills">
    <p>Skills</p>
  </div>
  <div class="col-4 btn">
    <img src="../../../../assets/images/tagsicon2.png" alt="Tags">
    <p>Tags</p>
  </div>
</div>
